.genre-page-container {
    background-color: #121212;
    width: 100%;
    overflow-y: auto;
    color: white;
    padding-bottom: 40px;
}

.genre-page-header {
    padding: 40px 30px 20px 30px;
    margin-bottom: 20px;
}

.genre-page-header h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.genre-song-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding:30px;
}
