.controlbar-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    background-color: black;
}

.controls-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height:100%;
}

.song-slider {
    appearance:none;
    width: 100%;
    height: 5px;
    cursor: pointer;
    margin: 0;
    z-index:1;
}

.song-slider::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    transition: width 0.1s, height 0.1s;
}

.song-slider:hover::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
}

.back-skip-button {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.pause-button {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.play-button {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.next-skip-button {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.left-controls {
    flex: 1;
}

.center-controls {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.right-controls {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    margin-right:20px;
}

.current-song-container {
    display: flex;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    gap:15px;
}

.current-song-container img {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    object-fit: cover;
}

.song-timestamp-container {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #b3b3b3;
    user-select: none;
}

.song-timestamp-container p {
    color: #b3b3b3;
    font-family: "Inter", sans-serif;
    font-size:15px;
    font-weight:bold;
}

.volume-slider {
    appearance:none;
    height: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    transition: width 0.1s, height 0.1s;
}

.volume-slider:hover::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
}


.volume-controls {
    display: flex;
    align-items: center;
    gap:5px;
}

.volume-icon {
    font-size: 20px;
    color:white;
    cursor: pointer;
}

.queue-toggle {
    color: #b3b3b3;
    font-size: 20px;
    cursor: pointer;
}

.queue-toggle-on {
    color: #FF6B6B;
}

.loop-toggle {
    color: #b3b3b3;
    font-size: 25px;
    cursor: pointer;
}

.loop-toggle.on {
    color: #FF6B6B;
}

.loop-one-toggle {
    color: #FF6B6B;
    font-size: 25px;
    cursor: pointer;
}

.shuffle-toggle {
    color: #b3b3b3;
    font-size: 25px;
    cursor: pointer;
}

.shuffle-toggle.on {
    color: #FF6B6B;
   
}
