.song-card-container {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    padding-bottom: 12px;
}

.song-card-container:hover {
    background-color: #282828;
}

.song-card-container img {
    margin-top: 10px;
    width: 175px;
    height: 175px;
    border-radius: 10px;
    object-fit: cover;
}
.song-card-info {
    display:flex;
    flex-direction:column;
    gap:5px;
}
.song-card-title {
    padding: 0;
    margin: 0;
    width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.song-card-artist {
    padding: 0;
    margin: 0;
    width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #b3b3b3;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

.song-card-container .selected {
    color: #FF6B6B;
}