.user-profile-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    cursor: pointer;
}

.user-profile-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile-container p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}